
*{
  margin: 0px;
  list-style: none;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.home, .contact, .about, .resume, .whatido,.footer{
  position: relative;
  width: 77%;
  margin: 0px;
  left: 23%;
}
nav{
  margin: 0px;
  padding: 3% 0px;
  position: fixed;
  width: 23%;
  height: 100%;
  background-color: rgb(40, 34, 34);
  z-index: 2;
  font-family: 'Barlow Condensed', sans-serif;
}
nav li,a{
  list-style: none;
  text-decoration: none;
  color: wheat;;
  padding: 0.7em 0em;
  padding-right: 1em;
  text-align: center;
  align-items: center;
  font-size: larger;
}
a:hover{
  color: rgb(197, 180, 147);
}
nav img{
  border: 4px solid rgb(53, 159, 62);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  width: 50%;
  align-items: center;
  margin: 0% 20%;
}
.list2 {
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list2 li{
  padding: 2em 0.4em;  
}
.home{
  background-image: url(/src/images/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
}
.headings{
  padding: 10% 0%;
  padding-bottom: 5%;
  text-align: center;
}
.heading1{
  font-size: 4em;text-align: center;
}
.heading2{
  font-size: 3.5em;
  padding: 0.3em 0px;
}

.btn{
  background-color: transparent ;
  border: 2px solid rgb(40, 34, 34);
  border-radius: 2em;
  padding: 0.8em 1em;
  color: wheat;
  font-size: 1.2em;
  font-weight: bold;
 }
 .about .btn ,.contact .btn{
  background-color: rgb(40, 34, 34);
  border: 2px;
  border-radius: 2em;
  padding: 0.8em 1em;
  color: wheat;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 2px 2px rgba(119, 97, 97, 0.646);
 }
 .about .btn:hover, .contact .btn:hover{
  background-color: rgb(67, 58, 58);
  border: 2px;
  color: wheat;
 }
 .home .btn{  
  transition: background-color 0.5s ease;
  font-family: 'Barlow Condensed', sans-serif;
font-family: 'Pacifico', cursive;
 }
.btn:hover{
  background-color: rgb(40, 34, 34);
  color: rgb(154, 140, 115);
  border: 2px solid rgb(40, 34, 34);
  cursor: pointer;
}
.home .btn{
  margin-top: 2em;
}
/* Styles for the heading2 (optional) */

/* Set initial styles for the name */
.h22 {
  opacity: 0; /* Start with opacity 0 to make it invisible */
  transform: scale(0.5); /* Start with 50% of the original size */
  transition: opacity 1s, transform 1s; /* Apply smooth transitions for opacity and scale */
}

/* Define keyframes for the animation */
@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply the animation to the name */
.h22 {
  animation: fadeInAndScale 2s forwards; /* Play the animation over 2 seconds */
  font-family: 'Fira Sans Condensed', sans-serif;
}
.about{
  background-color: rgba(40, 34, 34, 0.772);
  padding: 1em;
  padding-top: 0em;
}
hr{
  color: rgb(208, 140, 140);
  width: 12em;
  padding: 1px 0px;
  border-radius: 2em;
margin: auto;
}

.heading3{
  padding-top: 1.5em;
  font-size: 2em;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}
.about{
  margin-top: 0px;
}
.about p{
  font-size: 1.3em;
}
.about .sections{
padding: 2em;
}
.about ul{
  
  padding: 2em ;
}
.about li{
  font-size: 1.3em;
  padding: 0.7em 0px;

}
.about li a{
  color: black ;
}
@media (max-width:768px) {
  nav{
    padding: 0.5em ;
  }
  .list2 li{
    padding: 2px;
  }
}
@media (max-width:698px) {
  nav{
    padding: 2% 0px;
  }
  nav li,a{
    padding: 0.5em 0em;
    padding-right: 0.8em;
    }
  
  nav img{
    border: 4px solid rgb(53, 159, 62);
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    width: 40%;
 
    margin: 0% 20%;
  }
  .list2 li{
    padding: 1em 0.2em;  
  } 
 
  
}
@media (max-width:581px) {
  .home, .contact, .about, .resume, .whatido,.footer{
    left: 24%;
  }
}
@media (max-width:535px) {
  .home, .contact, .about, .resume, .whatido,.footer{
    width: 79%;
  }
  nav .list2 li{
    padding: 2px;
  }
}

@media (max-width:425px) {
 nav{
  width: 30%;
 }
  .home, .contact, .about, .resume, .whatido,.footer{
   width: 100%;
   left: 40%;
  }
  .footer li{
    padding: 0.5em;
    font-size: smaller;
  }
  .home h1{
    font-size: 2.5em;
      }
      .home h2{
        font-size: 1.5em;
      }
}

@media (max-width:375px) {
  nav{
   width: 30%;
  }
   .home, .contact, .about, .resume, .whatido,.footer{
    width: 105%;
    left: 45%;
   }
   .home h1{
    font-size: 2em;
      }
      .home h2{
        font-size: 1em;
      }
 }
@media (max-width:320px) {
  .home, .contact, .about, .resume, .whatido,.footer{
   width: 125%;
   left: 55%;
  }

}
#contact .heading{
 
  font-size: 2em;
  text-align: center;
  padding: 1em;
  
}
#contact section p{
  padding: 1em;
  display: none;
}
